GRAN_REPO_NAME=devel
GRAN_BASE_DIR=/var/opt/gran
GRAN_TEMP_REPO=/var/opt/gran/tmprepo
GRAN_TEMP_CHECKOUT=/var/opt/gran/tmpco
GRAN_ERROR_LOG=/var/log/gran/GRAN-errors.log
GRAN_COMPREHENSIVE_LOG=/var/log/gran/GRAN-comprehensive.log
GRAN_TEMP_LIBLOC=/var/opt/gran/LibLoc
GRAN_CHECK_WARN_OK='TRUE'
GRAN_CHECK_NOTE_OK='TRUE'
GRAN_SVN_AUTH=''
GRAN_REPO_DEST_BASE_DIR=/var/www/html/gran
GRAN_REPO_DEST_BASE_URL='http://localhost:8000/gran'
GRAN_INSTALL_TEST='TRUE'
GRAN_CHECK_TEST='TRUE'
GRAN_EMAIL_NOTIFY='FALSE'
GRAN_SMTP_SERVER='localhost'
GRAN_SMTP_PORT=25
GRAN_SENDER_EMAIL='gran@localhost.com'
GRAN_SHELL_INIT=''

